body {
    font-family: 'Mulish', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* Start about section styling */
.about{
margin: 50px 0;
}
.content h2{
    color: #0FB78D;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Libre Baskerville', serif;
    position: relative;
}
.content h2::before{
content: '';
width:40px ;
height:3px ;
background-color: #ec661f;
position: absolute;
bottom:-6px;
}
.content p{
    color: #333;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    line-height: 26px;
    margin:25px 0 16px;
    font-weight: 500;
}
.content ul li {
position: relative;
padding-left:0;
margin-bottom: 10px;
list-style: none;

}
.content ul li:before{
    position: absolute;
    left: -2rem;
    top:-0.2rem;
    content: "\2713";
    color: #0fb78d;
    font-size: 20px;
    font-family: 'icomoon';
}
.content ul{
    margin-bottom:3rem;
}
.content .counter span{
    color: #0FB78D;
    font-family: 'Libre Baskerville', serif;
    font-size: 26px;
    line-height: 41.6px;
    font-weight: 400;

}
.content .btn{
    padding:15px 30px;
    border-radius: 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05rem;
}
.content .btn.btn-primary{
    background: #0fb78d;
    border-color: #0fb78d;
}
.content .btn.btn-outline-primary {
    border-color: #0fb78d;
    color: #0fb78d;
}
.btn.btn-outline-primary:hover {
    background-color: #0fb78d;
    color: #ffffff;
}
.image{
    position: relative;
    width: 100%;
    
}
.video-wrap .play-wrap > span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    transform: translate(-50%, -50%);
}

.video-wrap .play-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: .3s all ease;
}
.icon-play{
    position: absolute;
    top: 35%;
    left: 37%;
    color: #fff;

}
.icon-play::before {
  
    content: "\f144";
    box-sizing: border-box;
}
/* \f144 */
.carousel-indicators
{
bottom: -25px;
left: -19rem;
margin-bottom: 15px;

}
.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #0FB78D;
}
.carousel-indicators .active{
    background-color: #0FB78D;
}

.block-testimonial .author img {
    width: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.block-testimonial .author .position {
    font-size: 14px;
}
.testimonial h3.testimonial-header{
    color: #0FB78D;
    font-size: 28px;
    font-weight: 500;
    font-family: 'Libre Baskerville', serif;
    position: relative;
}
.testimonial h3.testimonial-header::before{
content: '';
width:40px ;
height:3px ;
background-color: #ec661f;
position: absolute;
bottom:-6px;
}
.testimonial h3.choose{
    color: #0FB78D;
    font-size: 28px;
    font-weight: 500;
    font-family: 'Libre Baskerville', serif;
    position: relative;
}
.testimonial h3.choose::before{
    content: '';
    width:40px ;
    height:3px ;
    background-color: #ec661f;
    position: absolute;
    bottom:-6px;
    }
    .block-testimonial p {
        font-size: 18px;
        color: #000000;
        line-height: 2;
    } 
.block-testimonial .author .position {
    font-size: 14px;
}
    .block-testimonial .author h3 {
        font-size: 18px;
        color: #0fb78d;
        margin-bottom: 0;
    }

    .custom-accordion .accordion-item .btn-link {
        padding: 15px 0;
        padding-left: 40px;
        box-shadow: none !important;
        font-family:"Libre Baskerville",serif;
        font-size: 12px;
        font-weight: 800 !important;
    }
    /* .custom-accordion .accordion-item .btn-link:before {
        font-family: 'icomoon';
        content: "\f067";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
    } */
    .custom-accordion .accordion-item h2 {
        position: relative;
    }
    .icon{
        font-size: 13px;
        position: absolute;
        top: 20px;
        left: 0px;
        font-weight:800 ;
    }
    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    